<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St Patrick's Bank</title>
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="css/styleII.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- HEADER -->
  
    <header>
        <div class="container">
            <img src="img/logo.png" alt="" >
            <h2 class="logo">St Patrick's Bank</h2>
            <div class="navar">
                <nav>
                
                    <a href="#" class="active">Home</a> 
                    <a href="#">Transactions</a>
                    <a href="#">Transfer</a>                
                    <!-- <ion-icon name="search-sharp"></ion-icon>
                    <ion-icon name="help-circle-sharp"></ion-icon>
                    <ion-icon name="close-circle-sharp"></ion-icon>
                     -->
                    
                   
                </nav>
            </div>
        </div>
        
    </header>
    <br>
    <br>
    <!-- MAIN -->
    <div class="super-container">
        <main>
        
            <div class="balance">
                <h3>My balance</h3>
                <h2>1640.00 <span>USD</span></h2>   
            </div>       

         </main>
     
         <br>
         <section>        
                 <div class="operation">
                 <h3>Recent Operations</h3>
                 <br>
                 <div class="recent-Operations">                
                         <h2>Name Operation 1</h2>                    
                         <h4><span>-</span> 100.00</h4>
                         <h5>21 set 2021</h5>
                                                                                                         
                 </div>
                 <br>
                 <div class="recent-Operations">                                
                     <h2>Name Operation 2</h2>                    
                     <h4><span>-</span> 150.00</h4>
                     <h5>21 oct 2021</h5>                                                                                                     
                 </div>   
                 <br>
                 <div class="recent-Operations">                                
                     <h2>Name Operation 3</h2>                    
                     <h4><span>-</span> 110.00</h4>
                     <h5>11 dec 2021</h5>                                                                                                     
                 </div>                                                                                                     
                 </div>
                 <button class="btn"><ion-icon name="chevron-down-sharp" style="font-size: 30px; margin: auto; margin-top: 1px; transition: 0.5s;"></ion-icon></button>
     
                 <button class="btn-t four"><span style="color:#000">New Transfer</span></button>
         </section>
        </div>
         <br>
         
    </div>
       
    
    <footer>
        <div class="footer_logo">
            <div class="copy">
                <!-- <img src="img/logo.png" alt=""> -->
              <h3>Copyright @ 2022 St Patrick's Bank</h3>
            </div>
            
        </div>
    </footer>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>