<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>St Patrick's Bank</title>
    <link rel="shortcut icon" href="img/logo.png">
    <link rel="stylesheet" href="css/style_transfer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- HEADER -->
  
    <header>
        <div class="container">
            <img src="img/logo.png" alt="" >
            <h2 class="logo">St Patrick's Bank</h2>
            <div class="navar">
                <nav>
                
                    <a href="#" >Home</a> 
                    <a href="#">Transactions</a>
                    <a href="#"class="active">Transfer</a>                
                    <!-- <ion-icon name="search-sharp"></ion-icon>
                    <ion-icon name="help-circle-sharp"></ion-icon>
                    <ion-icon name="close-circle-sharp"></ion-icon>
                     -->
                    
                   
                </nav>
            </div>
        </div>
        
    </header>
    <br>
    <br>
    <!-- MAIN -->
    <div class="super-container">
    
     
         <br>
         <section class="border-container">        
                 <div class="operation">
                 <h3>Transfer</h3>
                 <br>
                 <div class="transfer-Operation">  
                    <br>  
                    <h2>From Card</h2>          
                    <select class="select-card" name="card">
                        <option>Select Card</option>
                        <option>Example Card Number one</option>
                        <option>Example Card Number two</option>
                        <option>Example Card Number three</option>
                        </select>
                        <br> 
                </div>  
                <div class="transfer-Operation">  
                    <br>  
                    <h2>To Card</h2>          
                    <select class="select-card" name="card">
                        <option>Select Card</option>
                        <option>Example Card Number one</option>
                        <option>Example Card Number two</option>
                        <option>Example Card Number three</option>
                        </select>
                        <br>  
                </div> 
                <div class="amount-to-transfer"> 
                    <br>  
                    
                <input id="card" type="number" name="amount" class="form-control" placeholder="Type the amount" >    
                  <span class="usd">USD</span>  
                  <br>
                </div>     
                    
                    <div class="comment"> 
                    <br>
                            
                    <br> 
                    <input id="card" type="text" name="amount" class="form-control" placeholder="Add a comment" >  
                    <br>                                                      
                </div>                                                                         
                 </div>
                 <div>
                    <button id="btnsubmit"  class="btn four mt-sm-1" ><span style="color: #000;">Confirm Transfer</span> </button>
                 </div>
         </section>
         
        </div>
         <br>
         
    </div>
       
    
    <footer>
        <div class="footer_logo">
            <img src="img/logo.png" alt="">
            <h3>St Patrick's Bank</h3>
        </div>
    </footer>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>