*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
}
.w-100 {
	height: 100vh;
}
.container{
	margin: 0; 
	padding: 0; 
	margin-bottom: 6.25em;
    width: 100%; 
	margin-left: 9.37em; 
}
.container-elements{
    display: flex;
    flex-direction: row;    
    /* justify-content: space-between; */
    justify-items: space;
}
.container-elements img{
	margin-left: 1.4em;
	width: 50px;
	height: 50px;
    margin-top: 5px;
    display: flex; 
	justify-content: flex-start;
    flex-direction: column;

}
.container-elements h1{
	margin-right: 1em;
	margin-top: 0.2em;
	color: #fff;
    margin-left: 1.8em; 
	display: flex; 
	justify-content: center;
}
 
.btn {
	display: inline-flex;
	align-items: center; 
    justify-content: center; 
	margin-top: 2em;
	margin-left: 0.5em;
	width: 57%;
	height: 50px;
	background: #fff;
	color: rgb(7, 96, 128);
	
	font-size: 20px;
	font-weight: 18.75em;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
    transition: .3s ease all;
	border-radius: 5px;
	position: relative; 
	overflow: hidden; 
	background-color: #f0c44e;
}

.btn span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
#spani{
	position: absolute;
	right: 1.4em; 
	transform: translate(0,190%);
	top: 50%;
	cursor: pointer; 

}
#spani2{
	position: absolute;
    right: 1.4em; 
	transform: translate(0,55%);
	top: 50%;
	cursor: pointer; 

}
.fa {
	font-size: 20px;
	color: #7a797e;
	
}


@media (min-width: 768px) and (max-width: 1199.98px) { 
	.container{ 		
	margin-bottom: 100px;
	width: 100%; 
	margin-left: 90px; 

	}
	
	.container-elements img,
	.container-elements h1{
		
	 align-content: center;		
	 margin-top: 40px;	
	 max-width: 50px;
	 max-height: 60px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	
	}
	.container-elements h1{
		font-size: 40px;
		text-align: center;
	}
	#spani{
	position: absolute;
	right: 1.4em; 
	transform: translate(0,273%);
	top: 50%;
	cursor: pointer; 
		
	}
	#spani2{
	position: absolute;
	right: 1.4em; 
	transform: translate(0,55%);
	top: 50%;
	cursor: pointer; 
		
	}
	.carousel{
	flex-direction: column;
	}

	.image-active{
	max-height: 350vh;
	max-width: 200vh;
	}
 }

    
    





